@{
    ViewData["Title"] = "Home Page";
}

<div class="card col-6-lg text-center">
    <h1>My card</h1>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
